bin/
obj/
publish/
publish.zip
*.user
*.suo
*.userprefs
.vs/
*.opendb
packages/
*.nupkg
project.lock.json
project.assets.json
.vscode/
.idea/

# macOS
.DS_Store

# .NET
appsettings.Development.json
secret.*
*/obj/
*/bin/

