@model IEnumerable<CartFlow.Data.Entities.Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button">Category</a>
    <ul class="dropdown-menu">
        @foreach (var cat in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Products" asp-action="Index" asp-route-categoryId="@cat.Id">
                    @cat.Name
                </a>
            </li>
        }
    </ul>
</li>
